name: Build Android APK

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up Java
      uses: actions/setup-java@v3
      with:
        distribution: 'zulu'
        java-version: '17'

    - name: Set up Flutter
      uses: subosito/flutter-action@v2
      with:
        channel: 'stable'

    - name: Install Dependencies
      run: flutter pub get

    # --- BAGIAN AJAIB: MEMBUAT ULANG ANDROID DI SERVER ---
    - name: Regenerate Android Project
      run: |
        rm -rf android
        flutter create --platforms=android .

    # --- BAGIAN AJAIB 2: SETTING VERSI ANDROID OTOMATIS ---
    - name: Fix MinSDK to 21
      run: |
        # Mencari settingan versi dan memaksanya jadi 21 agar support kamera/galeri
        find android -name "build.gradle" -exec sed -i 's/minSdkVersion flutter.minSdkVersion/minSdkVersion 21/g' {} +
        find android -name "build.gradle" -exec sed -i 's/minSdkVersion 16/minSdkVersion 21/g' {} +
        find android -name "build.gradle" -exec sed -i 's/minSdkVersion 19/minSdkVersion 21/g' {} +
        # Untuk Kotlin DSL (jika ada)
        find android -name "build.gradle.kts" -exec sed -i 's/minSdk = flutter.minSdkVersion/minSdk = 21/g' {} +

    - name: Build APK
      run: flutter build apk --release --no-tree-shake-icons

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: app-release
        path: build/app/outputs/flutter-apk/app-release.apk